.stages {
	z-index: 0;
	height: 30%;
	width: 100%;
}

#border-one {
	height: 5%;
	width: 100%;

	display: flex;
	justify-content: space-between;
}

#border-one-left {
	height: 100%;
	width: 40%;
	background-color: black;
}

#border-one-right {
	width: 40%;
	height: 100%;
	background-color: black;
}

#border-two {
	height: 5%;
	width: 100%;

	display: flex;
	justify-content: space-between
}


#border-two-left {
	height: 100%;
	width: 70%;
	background-color: black;
}

#border-two-right {
	width: 10%;
	height: 100%;
	background-color: black;
}

#objects {
	z-index: 1;
	position: relative;
	left: 0; bottom: 1080px;

	align-self: center;
	width: 100%; height: 100%;
}

.object {
	position: absolute;
	width: 200px;
	height: 200px;

	background-image: url(../Bilder/22b22848ea88550.png);
	background-size: cover;
}

#character {
	position: absolute;
	top: 540px; left: 960px;
	width: 100px;
	height: 100px;

	border-radius: 100%;
	background-color: lightblue;
}

#testObject {
	left: 1700px;
	top: 400px;
}
